.section-crypto {
  background: linear-gradient(180deg, #f8f9fb 0%, #fafbff 100%);
  padding-bottom: 100px;
}

.crypto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto-rate {
  background: var(--cWhite);
  padding: 48px 0 48px 48px;
  box-shadow: 0px 80px 40px #e4e4e6;
  border-radius: 0px 0px 16px 16px;
  max-width: 992px;
  width: 100%;
  margin-bottom: 100px;
}

.crypto-rate__title {
  font-family: var(--RM);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--blue);
  margin-bottom: 16px;
}

.crypto-rate__subtitle {
  font-family: var(--RB);
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--cMain);
  margin-bottom: 4px;
}

.rate__span {
  color: var(--blue);
}

.crypto-rate__description {
  color: #828282;
}

.crypto__title {
  font-family: var(--RB);
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  color: var(--cMain);
  margin-bottom: 64px;
}

.crypto-coin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 45px;
}

.crypto-bitcoin {
  background: #ffffff;
  box-shadow: 0px 40px 40px #e4e4e6;
  border-radius: 16px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.crypto-bitcoin__span::before {
  content: url(../../images/logo/logos_bitcoin.png);
}

.crypto-ethereum__span::before {
  content: url(../../images/logo/eth-logo.png);
}

.crypto-litecoin__span::before {
  content: url(../../images/logo/lite-logo.png);
}

.crypto-bitcoin__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0 25px 0;
}

.crypto-bitcoin__title {
  font-size: 32px;
  line-height: 150%;
  font-family: var(--RB);
  color: var(--cMain);
}

.crypto-bitcoin__title span {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  font-family: var(--RM);
  color: #bdbdbd;
  margin-left: 8px;
}

.crypto-bitcoin__subtitle {
  text-align: center;
  max-width: 322px;
  width: 100%;
  color: #828282;
  margin-bottom: 25px;
}

.bitcoin__span::before {
  font-size: 30px;
  padding: 22px 30px;
}

.bitcoin__span::before {
  display: block;
  animation: anim 1.5s;
}

.crypto-bitcoin.bg .bitcoin__span::before {
  display: none;
}

.crypto-bitcoin.bg {
  background: #2b076e;
  backdrop-filter: blur(250px);
  animation: back 2s;
}

@keyframes back {
  0% {
    background: var(--cMain);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: var(--blue);
  }
}

.crypto-bitcoin.bg .crypto-bitcoin__title,
.crypto-bitcoin.bg .crypto-bitcoin__subtitle {
  color: var(--cWhite);
  transition: 1s;
}

.crypto-bitcoin__link {
  display: none;
}

.crypto-bitcoin.bg .crypto-bitcoin__link {
  padding: 10px 10px 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
}

@keyframes anim {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: translateX(0%);
  }
}

.bitcoin-block__span::before,
.bitcoin__span::before {
  content: "\f105";
  background: var(--cWhite);
  border-radius: 50%;
  border: 2px solid rgba(43, 7, 110, 0.2);
  color: var(--blue);
}

.crypto-bitcoin.bg .bitcoin-block__span::before {
  display: block;
  color: var(--blue);
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 24px;
  transition: 1s;
}
