.section-mining {
  padding: 88px 0;
  background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%);
  margin-top: -2px;
  position: relative;
}
.mining {
  padding: 48px;
  background: #3671e9;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.mining-news::after {
  content: url(../../images/main/bitcoin-logo.png);
  position: absolute;
  right: 1%;
  bottom: 0;
}

.mining-news::before {
  content: url(../../images/main/big-logo.png);
  position: absolute;
  left: 2%;
  top: 0;
}

.mining-news__title {
  font-family: var(--RB);
  font-size: 32px;
  line-height: 150%;
  color: var(--cWhite);
  margin-bottom: 16px;
}

.mining-news__subtitle {
  color: var(--cWhite);
  max-width: 348px;
  width: 100%;
}

.mining-subscribe__input {
  width: 374px;
  color: var(--cWhite);
  border-bottom: 1px solid var(--cWhite);
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  background: var(--blue);
  margin-right: 40px;
  padding-bottom: 7px;
}

.mining-subscribe__btn {
  background: var(--cWhite) !important;
  padding: 14px 32px;
  color: var(--cMain) !important;
}

.mining-subscribe__input::placeholder {
  color: var(--cWhite);
}

.section-mining__span:nth-of-type(1) {
  content: url(../../images/main/main-end__stick1.png);
  position: absolute;
  bottom: 0%;
  left: 0;
}

.section-mining__span:nth-of-type(2) {
  content: url(../../images/main/main-end__stick.png);
  position: absolute;
  right: 14%;
  bottom: 0;
}
