@media (max-width: 830px) {
  .content {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
  }
  .content-base {
    justify-content: space-evenly;
  }
  .content-logo {
    display: none;
  }
}

@media (max-width: 630px) {
  .content {
    margin-bottom: 60px;
  }
  .content-base {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .content-box__title {
    text-align: center;
  }
  .content-list {
    align-items: center;
  }
}
